{% extends 'base.html.twig' %}

{% block title %}Accueil{% endblock %}

{% block body %}
<div class="jumbotron text-center">
    <h1 class="display-3">Bienvenue sur mon blog</h1>
    <p class="lead">Vous allez lire des choses incroyables</p>
    <hr class="my-2">
    <p>Vous allez voir, ce site est génial page d'Accueil a faire</p>
</div>

<div class="container">
    <h2 class="text-center"> Mes derniers hébergements </h2>
    <div class="row flex">
            {% for lodging in lodgings %}
        <div class="col-3">
               <div class="card">
                   <div class="card-body">
                   <div>
                    {% for image in lodging.images %}
            <div>
                <img src="/images/{{image.name}}" alt="Image"  width="150">
            </div>
        {% endfor %}
                    </div>
                        <h4 class="card-title">
                             <a href="{{ path('lodging_show', {'id': lodging.id, slug: lodging.slug}) }}">{{lodging.name}}</a>
                       </h4>
                       <h5 class="card-title">
                            {{lodging.selectlodging}}
                       </h5>
                       <p class="card-text">
                            {{lodging.Description}}
                       </p>
                       <p>{{ lodging.UpdatedAt ? lodging.UpdatedAt|date('d/m/Y') : '' }}</p>
                   </div>

               </div>
        </div>
            {% endfor %}
    </div>


  {#

     <h2 class="text-center"> Mes derniers articles </h2>
    <div class="row flex">
            {% for article in articles %}
        <div class="col-3">
               <div class="card">
                   <div class="card-body">
                        <h4 class="card-title">
                             <a href="{{ path('article_show', {'id': article.id, slug: article.slug}) }}">{{article.title}}</a>
                       </h4>
                       <h5 class="card-title">
                            {{article.title}}
                       </h5>
                       <p class="card-text">
                            {{article.contents}}
                       </p>
                   </div>

               </div>
        </div>
            {% endfor %}
    </div>
  #}
</div>
{% endblock %}