{% extends 'base.html.twig' %}

{% block title %}Hébergements{% endblock %}

{% block body %}
    <h1>Lodging index </h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Type Hébergements</th>
                <th>Hygiene</th>
                <th>Prix</th>
                <th>Noise</th>
                <th>Custumerbase</th>
                <th>Atmosphere</th>
                <th>Convenience</th>
                <th>Demonstration</th>
                <th>Partnership</th>
                <th>Hostbehavior</th>
                <th>Coworkingspace</th>
                <th>images</th>
                <th>Description</th>
                <th>auteur</th>
                <th>date de creation</th>
            </tr>
        </thead>
        <tbody>
        {% for lodging in lodgings %}
            <tr>
                <td>{{ lodging.id }}</td>
                <td>{{ lodging.name }}</td>
                <td>{{ lodging.selectlodging }}</td>
                <td>{{ lodging.Hygiene }}</td>
                <td>{{ lodging.price }}</td>
                <td>{{ lodging.noise }}</td>
                <td>{{ lodging.custumerbase }}</td>
                <td>{{ lodging.atmosphere }}</td>
                <td>{{ lodging.convenience }}</td>
                <td>{{ lodging.Demonstration }}</td>
                <td>{{ lodging.partnership }}</td>
                <td>{{ lodging.hostbehavior }}</td>
                <td>{{ lodging.coworkingspace }}</td>
                <td>
                {% for image in lodging.images %}
            <div>
                <img src="/images/{{image.name}}" alt="Image"  width="150">
            </div>
        {% endfor %}
                </td>
                <td>{{ lodging.Description|raw }}</td>
                <td>{{ lodging.CreatedBy.Firstname }} {{ lodging.CreatedBy.Lastname }}</td>
                <td>{{ lodging.CreatedAt ? lodging.CreatedAt|date('d/m/Y') : '' }}</td>
                <td>
                    <a href="{{ path('lodging_show', {'id': lodging.id}) }}">show</a>
                    <a href="{{ path('lodging_edit', {'id': lodging.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="16">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('lodging_new') }}">Create new</a>
{% endblock %}
