{% extends 'base.html.twig' %}

{% block title %}Article{% endblock %}

{% block body %}
    <h1>Article</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ article.id }}</td>
            </tr>
            <tr>
                <th>Titre</th>
                <td>{{ article.title }}</td>
            </tr>
            <tr>
                <th>Contents</th>
                <td>{{ article.contents|raw }}</td>
            </tr>
            <tr>
                <th>image</th>

            </tr>

            <tr>
                <th>date de publication</th>
                <td>{{ article.createdAT ? article.createdAT |date('Y-m-d H:i:s') : ''  }}</td>

            </tr>

            <tr>
                <th>arcticle mise a jours le :</th>
                <td>{{ article.updatedAT ? article.updatedAT |date('Y-m-d H:i:s') : ''  }}</td>

            </tr>
        </tbody>
    </table>

    <div>
        <div>
        <h2>
        Liste des commentaires
        </h2>
         </div>
        <div>
        Ajouter des commentaires 
        {{form(form)}}
        </div>
    </div>    

    <a href="{{ path('article_index') }}">retour a la liste</a>

    <a href="{{ path('article_edit', {'id': article.id}) }}"> mettre a jour</a>

    {{ include('article/_delete_form.html.twig') }}
{% endblock %}
